@font-face {
  font-family: IRANSans;
  src: url("./data/IRANSans.woff");
}

html,
body,
#root,
.app,
.content {
  height: 100%;
  width: 100%;
  font-family: "IRANSans" !important;
  direction: rtl;
}

.app {
  display: flex;
  position: relative;
}

::-webkit-scrollbar {
  width: 17px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #a5abadb3;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}